.rightV{
    display: block;
    text-align: right;
    font-size: 20px;
    color:blue;
    margin-bottom: 30px;
    position: fixed;
    bottom: 10px;
    right: 0; 
    padding-right: 10px;


}
#voiceOutput{
    border:1px solid #ccc;
    padding:10px;
    margin-top:10px;
    box-shadow: 1px;
    min-height: 90px;
}
.voice-prescription{
   text-align: center;
    padding:10px;
    margin-top:10px;
    box-shadow: 1px;
    font-size: 30px;
    color:red;
}
.drop-zone {
            border: 2px dashed #007bff;
            padding: 40px;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;
        
    }    
    .drop-zone.dragover {
            background-color: #f0f8ff;
        }